Repository LedgerHQ/ledger-asset-dapps, pull requests merged in 2024-10, with the labels that each got.

#224 chore: split EigenLayer to its own plugin
  ethereum/eigenlayer/abis/0x39053d51b77dc0d36036fc1fcc8cb819df8ef37a.abi.json
  ethereum/eigenlayer/abis/0x858646372cc42e1a627fce94aa7a7033e7cf075a.abi.json
  ethereum/eigenlayer/b2c.json
  ethereum/kiln/b2c.json
Labels: descriptors

#228 feat(stax): add NFT screens definition for ethereum testnets
  ethereum_goerli/nft/parsers.json
  ethereum_sepolia/nft/parsers.json
Labels: descriptors

#229 fix: fix `avalanche_c_chain` not matching CAL ids
  avalanche_c_chain/b2c.schema.json
  avalanche_c_chain/eip712.schema.json
  avalanche_c_chain/okx/b2c.json
  avalanche_c_chain/permit/eip712.json
  avalanche_c_chain/stakekit/b2c.json
  avalanche_c_chain/uniswap/eip712.json
Labels: descriptors

#231 ci: remove labels management
  .github/workflows/pull_request.yml
Labels: ci

#226 updated bnbx contract
  bsc/stader/abis/0x3b961e83400d51e6e1af5c450d3c7d7b80588d28.abi.json
  bsc/stader/b2c.json
Labels: enhancement, descriptors

#227 add kelp contracts
  ethereum/kelp/abis/0x036676389e48133b63a802f8635ad39e752d375d.abi.json
  ethereum/kelp/abis/0x62de59c08eb5dae4b7e6f7a8cad3006d6965ec16.abi.json
  ethereum/kelp/abis/0xbf28c9fcb12a97441488f9c68faa49811a98688a.abi.json
  ethereum/kelp/abis/0xe1b4d34e8754600962cd944b535180bd758e6c2e.abi.json
  ethereum/kelp/b2c.json
  ethereum/stader/b2c.json
Labels: descriptors

#233 ci: remove trigger on archived repository
  .github/workflows/main.yml
Labels: ci
